.crp{
    background-color: white;
}
.content{
   
    text-align: center;
}
.heading5 h1{
    width: 30%;
    margin-left: 520px;
}

.heading5 p{
    width: 30%;
    margin-left: 520px;
}

.content input{
    margin-bottom: 25px;
    width: 30%;
    padding: 20px;
    font-size:15px;

    text-align: left;
}

.btn2{
    margin-right: 150px;
    background-color: rgb(186, 15, 15);
    font-size: 15px;
    
    width: 33.5%;
    padding: 20px;
    
    margin-left: 150px;
    color: white;
    border: none;
}

